/* App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.app {
  min-height: 100vh;
  transition: background-color 0.3s ease;
  padding: 1rem;
}

.light {
  background-color: #e4c47c; /* warm beige */
  color: #17202a;
}

.dark {
  background-color: #121212; /* dark mode */
  color: #f5f5f5;
}

.toggle-button {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #ccc;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}
